{% extends "layout.html" %}

{% block content%}
<section>
	<div class="container-md col-md-6 mt-5 pt-5">
	    <h1>Details</h1>
		<div class="card mb-3">
			<div class="row g-0">
				<div class="col-md-4">
					<img class="rounded-circle text-center p-3" src="{{ url_for('static', filename='profile_pictures/'+ current_user.image)}}" style="width: 250px; height: 250px;">
				</div>
				<div class="col-md-8 p-3">
					<p> User ID: {{current_user.id}}</p>
					<p> Email Address: {{current_user.email}}</p>
				</div>
			</div>
		</div>

		<h1>Update Details</h1>
		
		<form action="" method="POST" class="row g-3" enctype="multipart/form-data">
			{{ form.csrf_token }}
	
			<div class="">
				{{ form.email.label(class="form-label")}}
	
				{% if form.email.errors %}
				{{ form.email(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.email.errors %}
						<span> {{ error }} </span>
					{%endfor%}
				</div>
			{% else %}
				{{form.email(class="form-control form-control-lg", value=current_user.email)}}
			{% endif %}
			</div>
			<div>
				{{ form.profile_picture.label()}}
				{{ form.profile_picture(class="form-control") }}
				{% if form.profile_picture.errors %}
					{% for error in form.profile_picture.errors %}
						<span class="text-danger">{{ error }}</span></br>
					{% endfor %}
				{% endif %}
			</div>
			<div class="">
				{{ form.submit(class="btn btn-primary btn-lg")}}
			</div>
		</form>
	</div>
</section>

{% endblock content %}