{% extends "layout.html" %}

{% block content %}

<section class="pt-5" >
	<div class="container">
	<h1 class="p-5 text-center">Login Page</h1>

	<form action="" method="POST" class="row g-3">
	  {{form.hidden_tag()}}

	  <div class="">
	  	{{ form.email.label(class="form-label")}}
	  	{{ form.email(class="form-control form-control-lg")}}
	  </div>
	  <div class="">
	  	{{ form.password.label(class="form-label")}}
	  	{{ form.password(class="form-control form-control-lg")}}
	  </div>
	  <div class="text-center">
	  	{{ form.submit(class="btn btn-primary btn-lg")}}
	  </div>
	</form>
</section>


{% endblock content%}