{% extends "layout.html" %}

{% block content %}

<section class="pt-5" >
	<div class="container">
	<h1 class="p-5 text-center">Register Page</h1>

	<form action="" method="POST" class="row g-3">
	  {{ form.csrf_token }}

	  <div class="">
	  	{{ form.email.label(class="form-label")}}

	  	{% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span> {{ error }} </span>
                {%endfor%}
            </div>
        {% else %}
          {{form.email(class="form-control form-control-lg")}}
        {% endif %}
	  </div>
	  <div class="col-md-6">
	  	{{ form.password.label(class="form-label")}}
	  	{% if form.password.errors %}
          {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span> {{ error }} </span>
                {%endfor%}
            </div>
        {% else %}
          {{form.password(class="form-control form-control-lg")}}
        {% endif %}
	  </div>
	  <div class="col-md-6">
	  	{{ form.confirm_password.label(class="form-label")}}
	  	{% if form.confirm_password.errors %}
          {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                  <span> {{ error }} </span>
                {%endfor%}
            </div>
        {% else %}
          {{form.confirm_password(class="form-control form-control-lg")}}
        {% endif %}
	  </div>
	  <div class="text-center">
	  	{{ form.submit(class="btn btn-warning btn-lg")}}
	  </div>
	</form>
</section>


{% endblock content%}